body {
  background-color: #4A466C
}

header {
  width: 75vw;
  margin: 25px auto;
}

main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}

.col {
  width: 50%;
  float: left;
}

h1 {
  margin-left: 2%;
  font-size: 70px;
  font-family: 'Poiret One', cursive;
  color: #E9CFEC
}

h2 {
  margin-left: 2%;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
  color: #E9CFEC
}

li {
  font-size: 35px;
  font-family: 'Poiret One', cursive;
  color: #E9CFEC
}

a:link {
  text-decoration: none;
  color: #E9CFEC
}

a:visited {
  color: #E9CFEC
}

a:hover {
 color: #FFF380
}

ul{
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
}

header {
  width: 90vw;
}

main {
  width: 90vw;
}

h1 {
  font-size: 5rem;
}
