h1 {
color: white;
font-size: 80px;
font-family: century gothic;
font-weight: 100;
}

h2 {
color: white;
font-size: 40px;
font-family: century gothic;
font-weight: lighter;
}

a:visited {
  color: white
}

a:hover {
  color: cadetblue;
}

body {
background-image: url("../images/saturn2.jpg");
background-size: cover;
