h1 {
margin-left: 4%;
color: white;
font-size: 90px;
font-family: 'Major Mono Display', monospace;
font-weight: lighter;
}

h2 {
margin-left: 4%;
color: white;
font-size: 40px;
font-family: 'Major Mono Display', monospace;
font-weight: lighter;
}

p {
margin-left: 4%;
color: white;
font-size: 35px;
font-family: 'Major Mono Display', monospace;
font-weight: lighter;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white
}

a:hover {
  color: cadetblue;
}

body {
background-image: url("../images/saturn2.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
