h1 {
color: white;
font-size: 40px;
font-family: century gothic;
font-weight: 100;
}
h2 {
color: white;
font-size: 30px;
font-family: century gothic;
}

body {
background-image: url("../images/saturn2.jpg");
background-size: cover;
}
