* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #4A466C
}

.board {
  width: 900px;
  background-color: white;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}


.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}

.red {
  background-color: tomato;
}

.black {
  background-color: #333333;
}

.column {
  width: 950px;
  background-color: white;
  padding: 60px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 800px;
  height: 100px;
  float: left;
  background-color: tomato;
  margin: 10px;
}

.title {
  width: 800px;
  height: 20px;
  float: left;
  background-color: tomato;
  margin: 10px;
}

.col {
  width: 253.5px;
  height: 650px;
  float: left;
  background-color: tomato;
  margin: 10px;
}

.foot {
  width: 800px;
  height: 100px;
  float: left;
  background-color: tomato;
  margin: 10px;
}
