* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}
main {
  width: 125vw;
  margin: -100px, -12.5vw;
}

#p1 .shape1, .shape2, .shape3, .shape4 {
  margin: -25px;
}

#p1 .shape1 {
  width: 160px;
  height: 100px;
  background-color: #4E387E;
  float: left;
  border-radius: 50%;
}

#p1 .shape2 {
  width: 160px;
  height: 100px;
  background-color: #FFE87C;
  float: left;
  border-radius: 50%;
}

#p1 .shape3 {
  width: 160px;
  height: 100px;
  background-color: #7A5DC7;
  float: left;
  border-radius: 50%;
}

#p1 .shape4 {
  width: 160px;
  height: 100px;
  background-color: #FFFFC2;
  float: left;
  border-radius: 50%;
}

#p2 .shape1 {
  width: 300px;
  height: 300px;
  background-color: #F660AB;
  float: left;
  opacity: .5;
  margin: -30px;
  transform: skew(30deg);
}

#p2 .shape2 {
  width: 300px;
  height: 300px;
  background-color: #FFD801;
  float: left;
  opacity: .7;
  margin: -30px;
  transform: skew(-30deg);
}

#p2 .shape3 {
  width: 300px;
  height: 300px;
  background-color: #6495ED;
  float: left;
  opacity: .5;
  margin: -30px;
  transform: skew(30deg);
}

#p3 .shape1 {
  float: left;
  border-top: 100px solid #4EE2EC;
  border-right: 100px solid transparent;
  margin: 20px;
  transform: skew(-10deg);
}

#p3 .shape2 {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 60px solid #FFFF00;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #FFFF00;
  border-left: 60px solid #FFFF00;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 20px;
  transform: skew(80deg);
}

#p3 .shape3 {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 60px solid #F660AB;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #F660AB;
  border-left: 60px solid #F660AB;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 20px;
  transform: skew(30deg);
}

#p3 .shape4 {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 60px solid white;
  border-right: 60px solid transparent;
  border-bottom: 60px solid white;
  border-left: 60px solid white;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 20px;
  transform: skew(80deg);
}

#p3 .shape5 {
  width: 90px;
  height: 90px;
  background-color: #6495ED;
  float: left;
  margin: 10px;
  transform: skew(40deg);
}

#p3 .shape6 {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 60px solid #5F56E2;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #5F56E2;
  border-left: 60px solid #5F56E2;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 20px;
  transform: skew(80deg);
}

body #p3{
  overflow: hidden;
  background-color: black;
}
