*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.panda{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 200px auto;
}

.head {
  position: absolute;
  width: 170px;
  height: 150px;
  margin: 50px 0 0 320px;
  border-radius: 50%;
  background-color: white;
}

.head-outline {
  position: absolute;
  width: 178px;
  height: 158px;
  margin: 47px 0 0 316px;
  border-radius: 50%;
  background-color: #D1D0CE;
}

.left-ear {
  position: absolute;
  width: 60px;
  height: 40px;
  margin: 46px 0 0 308px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
  transform: rotate(-38deg);
}


.right-ear {
  position: absolute;
  width: 60px;
  height: 40px;
  margin: 46px 0 0 443px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
  transform: rotate(38deg);
}

.left-eye {
  position: absolute;
  width: 50px;
  height: 30px;
  margin: 110px 0 0 420px;
  border-radius: 50%;
  background-color: black;
  transform: rotate(50deg);
}

.right-eye {
  position: absolute;
  width: 50px;
  height: 30px;
  margin: 110px 0 0 340px;
  border-radius: 50%;
  background-color: black;
  transform: rotate(-50deg);
}

.left-pupil {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 124px 0 0 362px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-50deg);
}

.right-pupil {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 124px 0 0 438px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-50deg);
}

.nose {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 135px 0 0 390px;
  border-radius: 80% 40% 60% 40%;
  background-color: black;
  transform: rotate(45deg);
}

.mouth-shadow {
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 147px 0 0 389px;
  border-radius: 60% 30% 60% 30%;
  background-color: white;
  transform: rotate(45deg);
}

.mouth {
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 151px 0 0 389px;
  border-radius: 60% 30% 60% 30%;
  background-color: #C25283;
  transform: rotate(45deg);
}

.black-body {
  position: absolute;
  display: inline-block;
  transform: rotate(-45deg);
  width: 130px;
  height: 130px;
  margin: 190px 0 0 341px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: black;
}

.white-body {
  position: absolute;
  display: inline-block;
  transform: rotate(-45deg);
  width: 110px;
  height: 110px;
  margin: 210px 0 0 351px;
  border-radius: 50%;
  background-color: white;
}

.left-arm {
  position: absolute;
  display: inline-block;
  transform: rotate(98deg);
  width: 32px;
  height: 80px;
  margin: 173px 0 0 316px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
}

.right-arm {
  position: absolute;
  display: inline-block;
  transform: rotate(-98deg);
  width: 32px;
  height: 80px;
  margin: 173px 0 0 464px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
}

.left-hand {
  position: absolute;
  display: inline-block;
  transform: rotate(190deg);
  width: 15px;
  height: 44px;
  margin: 180px 0 0 290px;
  border-radius: 50%;
  background-color: black;
}

.right-hand {
  position: absolute;
  display: inline-block;
  transform: rotate(-190deg);
  width: 15px;
  height: 44px;
  margin: 180px 0 0 507px;
  border-radius: 50%;
  background-color: black;
}

.right-leg {
  position: absolute;
  display: inline-block;
  transform: rotate(20deg);
  width: 40px;
  height: 55px;
  margin: 280px 0 0 419px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
}

.left-leg {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 65px;
  margin: 280px 0 0 370px;
  border-radius: 50% 50% 10% 10%;
  background-color: black;
}

.right-foot {
  position: absolute;
  display: inline-block;
  transform: rotate(110deg);
  width: 25px;
  height: 47px;
  margin: 310px 0 0 416px;
  border-radius: 50%;
  background-color: black;
}

.left-foot {
  position: absolute;
  display: inline-block;
  transform: rotate(90deg);
  width: 25px;
  height: 43px;
  margin: 330px 0 0 378px;
  border-radius: 50%;
  background-color: black;
}

.base {
  position: absolute;
  width: 170px;
  height: 110px;
  margin: 330px 0 0 320px;
  border-radius: 50% 50% 10% 10%;
  background-color: white;
}

.base-outline {
  position: absolute;
  width: 178px;
  height: 118px;
  margin: 330px 0 0 316px;
  border-radius: 50% 50% 10% 10%;
  background-color: #D1D0CE;
}

.solar-panel {
  position: absolute;
  border: 2px black;
  width: 112px;
  height: 30px;
  margin: 375px 0 0 350px;
  background-color: #493D26;
}
.solar-panel-border {
  position: absolute;
  border: 2px black;
  width: 117px;
  height: 37px;
  margin: 372px 0 0 348px;
  background-color: #2B1B17;
}

.line-1 {
  position: absolute;
  border: 2px black;
  width: 1px;
  height: 30px;
  margin: 375px 0 0 385px;
  background-color: #4C4646;
}

.line-2 {
  position: absolute;
  border: 2px black;
  width: 1px;
  height: 30px;
  margin: 375px 0 0 425px;
  background-color: #4C4646;
}
