
body {
  margin: 0;
  background: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.container{
  width: 95%;
  margin: 0 auto;
}

.img-logo {
  width: 300px;
  padding: 12px 0px;
}

header {
  background: #4525B0;
}

.logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
 nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 53px;
   font-size: 30px;
   font-family: acier-bat-solid, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 a:link {
   text-decoration: none;
   color: white;
 }

 .slide-container {
   width: 1440px;
   height: 810px;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   text-align: center;
 }

 .image-container {
   width: 4320px;
   height: 600px;
   position: relative;
   transition: left 2s;
 }

 .slider-image {
   float: left;
   margin: 0;
   padding: 0;
 }

 .button-container {
   top: -20px;
   position: relative;
 }

.slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}

#slider-image-1:target ~ .image-container{
  left: 0px;
}

#slider-image-2:target ~ .image-container{
  left: -1440px;
}

#slider-image-3:target ~ .image-container{
  left: -2880px;
}

 a:visited {
   color: white
 }

.img-gallery4 {
  width: 60%;
}

.img-gallery7 {
  width: 60%;
}

.img-gallery10 {
  width: 60%;
}

.img-exhibit7 {
  width: 60%;
}

.img-books {
  width: 60%;
}
