
body {
  margin: 0;
  background: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.container{
  width: 95%;
  margin: 0 auto;
}

.img-logo {
  width: 300px;
  padding: 12px 0px;
}

header {
  background: #4525B0;
}

.logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
 nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 53px;
   font-size: 30px;
   font-family: acier-bat-solid, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 a:link {
   text-decoration: none;
   color: white;
 }

 a:visited {
   color: white
 }
